<h1>Listing fbooks</h1>

<%= render 'branched' %>

<%= @fbooks.count %> pictures
<br>
<table>
  <br>
  <tr>
    <th>Image</th>
    <th>Url</th>
    <th></th>
  </tr>

<% @fbooks.each do |fbook| %>
  <tr>
    <td><img src="<%= fbook.url %>" height="100"></td>
    <td><%= fbook.url %></td>
    <td><%= link_to 'Destroy', fbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'branched' %>