<h1>Listing Imgur pics</h1>

<%= render 'branched' %>

<%= @imgurls.count %> pictures
<table>
  <tr>
    <th>Url</th>
    <th></th>
  </tr>

<% @imgurls.each do |imgurl| %>
  <tr>
    <td><img src="<%= imgurl.url %>" height="100"></td>
    <td><%= imgurl.url %></td>
    <td><%= link_to 'Destroy', imgurl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'branched' %>