<%= form_for(@reddit) do |f| %>
  <% if @reddit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reddit.errors.count, "error") %> prohibited this reddit from being saved:</h2>

      <ul>
      <% @reddit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %><BR>
  Enter Subreddit to search, or leave blank for default (/funny and /pics).
  <div class="field">
    
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
