<h1>Listing Reddits</h1>

<%= link_to 'New Search', new_reddit_path %> | <%= render 'branched' %>


<%= @reddits.count %> threads listed.
<table>
  <tr>
    <th>Image</th>
    <th>Replied?</th>
    <th>REPLY!</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @reddits.each do |reddit| %>
    <tr>
      <td><img src="<%= reddit.img %>" height="100"> <%= link_to "http://www.reddit.com#{reddit.url}", "http://www.reddit.com#{reddit.url}" %></td>
      <td><%= reddit.commented %></td>
      
      <td><%= link_to 'REPLY!', comment_url(reddit.id), :method => "post" %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Search', new_reddit_path %> | <%= render 'branched' %>
